VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=jpass-f7971.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jpass-f7971
VITE_FIREBASE_STORAGE_BUCKET=jpass-f7971.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=981161267063
VITE_FIREBASE_APP_ID=
